#logo{
  width: 250px;
  height: 110px;
  vertical-align: center;
  background: grey;
  color: white;
  float: left;
  margin-left: 50px;
  letter-spacing: 10px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#logo > h1{

  line-height: 25px;
  font-size: 60px;

}
#logo > h1:nth-child(2) {
  color: navy;
  font-weight: bold;

}

.panel-primary {
  background: lightgrey;
  opacity: .9;
}


.schedule-container {
     width: 900px;
     float: right;
  
     
}

.input-container {
    float: left;
     width: 350px;
     margin: 0px;
     padding: 0px;
     
}

 body {
        background: url('../img/nyc.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   }

 table {
     border-collapse: separate;
     border-spacing: 6px;
}

